/* You can add global styles to this file, and also import other style files */

#themecolors .selector, .cursor {
  cursor: pointer;
  transition: ease all .55s;
}

#themecolors .selector:hover {
    transform: translateY(-3px) scale(1.1);
}